/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */
* {
    font-family: 'Source Sans Pro', sans-serif;

}

nav {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-basis: 800px;
    justify-content: flex-end;
    padding: 10px 15px;
}

li {
    margin: 0px 20px;
    font-size: 15px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    

}
div {
    display: inline-block;
}

.monster {
    font-size: 15px;
    margin-top: 30px;
}


 .paper-price {
     font-weight: bold;
 }

 .dollar {
     color: #cc0303;
     padding-left: 130px;
 }

 button {
     padding: 15px 90px;
     color: white;
     background-color: #f56b84;
     border: none;
 }

 button:hover {
     background-color: rgb(250, 73, 102);
 }

 #o1 img {
    height: 70px;
    width: 80px;
    margin-top: -20px;

 }

 .logo img {
     height: 450px;
     width: 300px;
     margin: 20px;
     
 }

 .para {
     width: 685px;
 }

 .about, .about-author, .pro-details {
     border: 2px solid #80808040;
     padding-bottom: 20px;
     border-right-color: white;
     border-left-color: white;
 }

 .product {
     font-size: 20px;
 }

 .detail {
     font-weight: bold;
 }

 .pro-details {
     width: 700px;
     border-top-color: white;
     padding-bottom: 30px;
 }

 .about-author {
     width: 700px;
     border-top-color:white;
     padding-bottom: 10px; 
 }

 .author-head {
    color: #00000099;

 }

 #o1 {
     border: 2px solid #0000003d;
    margin-bottom: 150px;
    border-left-color: white;
    border-right-color: white;
}
 


  
 

 
   

